.topHome{
    height : 200px;
	weight :100%;
    background-color: lightblue;
    font-family:  'IRANSans';
    text-align: right;
    
}

.topHome form{
    text-align: center;

}
.topHome h3{
    color :#008080;
}
.loadMoreButton{
    display: block;
    border: 0;
    margin: 1em auto;
    padding: .75em 1em;
    font-size: 1em;
    background-color: #c34d41;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
