.top{
    height : 200px;
	weight :100%;
    background-color: lightblue;
    font-family:  'IRANSans';
    text-align: right;
    
}

.top form{
    text-align: left;

}
.top h3{
    color :#008080;
}