.AddPointcontainer {
    padding: 10px;
  margin-left: 10%;
  /* margin-right: 500px; */
  height: 200px;
  width:80%;

}
.AddPointbtn{
    margin: 10px;
    float:left;
    background-color:aliceblue;
}

span.AddPointbadge.b1{
    background-color: red;
     border-radius: 2px;
     color:white;
}

span.AddPointbadge.b2{
    background-color:skyblue;
    border-radius: 2px;
    color:white;
}